<div class="well">
	<h4>Edit Memory: <strong style="color: red">*All Fields Required*</strong></h4>
	<form role=form action='/<%= @memory.id %>' method="post">
		<div class="form-group">
			<label for="memory[name]"> Name:</label>
			<input class="form-control" name="memory[name]" value="<%= @memory.name %>">

			<label for="memory[title]">Title:</label>
			<input class="form-control" name="memory[title]" maxlength="140" value="<%= @memory.title %>">

			<textarea class="form-control" name="memory[content]" rows="10" cols="41" maxlength="1000"><%= @memory.content %></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Update</button>
	</form>
</div>	