<div class="container">
	<div class="col-lg-12 row">
		<div class="">
			<h1 class="page-header">Share Your Favorite Memories</h1>
			<!-- Button trigger modal -->
			<button id="mem-add-new" class="btn btn-default" data-toggle="modal" data-target="#addMemoryModal">Add Memory</button>
		</div>		
		<!-- Modal -->
		<div class="modal fade" id="addMemoryModal" tabindex="-1" role="dialog" aria-labelledby="addMemoryModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="addMemoryModal">Add New Memory:</h4>
					</div>
					<!-- Modal Body -->
					<div class="modal-body">
						<form role=form action='/' method="post">
							<div class="form-group">
								<input class="form-control" name="memory[name]" placeholder="Name">
								<input class="form-control" name="memory[title]" maxlength="140" placeholder="Remember When...">
								<textarea class="form-control" name="memory[content]" rows="10" cols="41" maxlength="1000" placeholder="Share your story..."></textarea>
							</div>
							<button class="btn btn-default" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="memories">
			<% @memories.each do |memory| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4><%= memory.name %></h4>
						</div>
						<div class="panel-body">
							<p>Remember When... <%= memory.title %><p>
							<a href="/<%= memory.id %>" class="btn btn-default">Read Story...</a>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>