<!DOCTYPE html>
<html>
<head>
	<title>test title</title>
</head>
<body>
	<header>
		<h1>Remember When...</h1>
	</header>
	<main>
		<%= yield %>
	</main>
</body>
<footer>
	<h2>Footer</h2>
</footer>
</html>