<div class=" container memories">
	<% @memories.each do |memory| %>
		<div>
			<big><span>Remember When... <%= memory.title %> - <%= memory.name %> </span>|<a href="/memories/<%= memory.id %>">Read Story...</a></big>
		</div>
	<% end %>
</div>
