<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Share Your Favorite Memories</h1>
			<div id="mem-add-new">
				<form action="/memories/new" method="get">
					<button class="btn btn-primary">Add Memory</button>
				</form>
			</div>
		</div>
		<div class="memories">
			<% @memories.each do |memory| %>
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4><%= memory.name %></h4>
						</div>
						<div class="panel-body">
							<p>Remember When... <%= memory.title %><p>
							<a href="/memories/<%= memory.id %>" class="btn btn-primary">Read Story...</a>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>