
<div class="container">
	<form action='/memories' method="post">
		<input name="memory[name]" placeholder="Name">

		<input name="memory[title]" maxlength="140" placeholder="Title: 140 Char. Max">

		<br>
		<textarea name="memory[content]" rows="10" cols="41" maxlength="1000" placeholder="Share your story..."></textarea>
		
		<br>
		<input class="btn" type="submit" value="Create Memory">
	</form>
</div>	