
<div class="well">
	<h4>Add New Memory: <strong style="color: red">*All Fields Required*</strong></h4>
	<form role=form action='/' method="post">
		<div class="form-group">
			<input class="form-control" name="memory[name]" placeholder="Name">
			<input class="form-control" name="memory[title]" maxlength="140" placeholder="Remember When...">
			<textarea class="form-control" name="memory[content]" rows="10" cols="41" maxlength="1000" placeholder="Share your story..."></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>	