html, body {
	background-image: url("/imgs/bg.jpeg");
	background-color: #003366;
}
form {
display: inline;
}

h2 {
	font-size: 4.5vw;
	text-shadow: 2px 2px black;
}

.page-header {
	color: white;
}

.panel {
	border-radius: 15px;
}

.panel-heading {
	border-radius: 15px;
}

.rand-pic {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	vertical-align: center;
}

.display-1 {
	color: white;
	font-size: 5em;
	text-shadow: 3px 3px black;
}

#mem-add-new {
	margin-bottom: 15px;
}

#back {
	margin-bottom: 15px;
}
