<!DOCTYPE html>
<html>

	<head>
		<!-- Bootstrap theme by Blackrock Digital LLC via startbootstrap.com Copyright (c) 2013-2016 Blackrock Digital LLC. License: https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE -->

		<title>Remember When</title>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
	    <meta name="author" content="">

		<!-- Noramlize CSS -->
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<!-- Bootstrap Core CSS -->
	    <link href="/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="/css/modern-business.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	    <!-- My Custom CSS -->
	    <link rel="stylesheet" type="text/css" href="./public/style.css">
			
	</head>

	<body>
		<% if request.path_info == '/'  %>
			<%= erb :header %>
		<% end %>
		<!-- Page Content -->
		<div class="container">

			<main>
				<%= yield %>
			</main>

			<footer>
			</footer>
		
		</div>

		<!-- jQuery -->
		<script src="js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>

		    <!-- Script to Activate the Carousel -->
	    <script>
	    $('.carousel').carousel({
	        interval: 6500 //changes the speed
	    })
	    </script>

	</body>

</html>